# 防止污染方式二
# 原理是没有污染的域名通过 UDP 协议查询，有污染的域名通过 TCP 协议来避免污染

PrimaryServer UDP

# 请使用国外的 TCP 服务器
TCPServer 8.8.8.8, 1.2.4.8

# 建议使用国内的 UDP 服务器
UDPServer 223.5.5.5, 223.6.6.6, 114.114.114.114, 114.114.115.115

# 建议关闭 UDP 防污染
UDPAntiPollution false

# 加载 GFW List
GfwList https://autoproxy-gfwlist.googlecode.com/svn/trunk/gfwlist.txt